# ── Google Sheets ─────────────────────────────────────────────────────────────
GOOGLE_SERVICE_ACCOUNT_JSON=./credentials/service_account.json
SPREADSHEET_ID=1Abc123_tu_spreadsheet_id_aqui

# ── CORS ──────────────────────────────────────────────────────────────────────
ALLOWED_ORIGINS=http://localhost:5173,https://tudominio.com

# ── App ───────────────────────────────────────────────────────────────────────
APP_ENV=development

# ──SMPT───────────────────────────────────────────────────────────────────────
SMTP_USER=correo
SMTP_PASS=password_generada